:root {
  font-size: 10px;
  background-color: #e4e5ed;
  overflow-y: scroll;
}

body {
  box-sizing: border-box;
  margin: 0;
  font: 1.6rem/1.5 'SUIT Variable', sans-serif;
  
  /* CSS 중첩 규칙(Nesting Rules) */
  & * {
    box-sizing: inherit;
  }
}

img {
  vertical-align: middle;
}

button {
  cursor: pointer;
  font-size: 1.6rem; /* 16px */

  &:disabled {
    cursor: not-allowed;
  }
}

abbr[title] {
  cursor: help;
  text-decoration: none;
}

[hidden] {
  display: none !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background: #0007;
}

.container {
  padding: 24px;
  background: #4744be99;
  color: #17172d;
}

.switchButton {
  position: relative;
  background: skyblue;
  border-radius: 20px;
  border: 1px solid white;
  width: 60px;
  height: 30px;
}

.buttonHandler {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  background: white;
  border-radius: 50%;
}

.active {
  left: 55%;
}